.historyContainer{
	margin-bottom: 100px;
	margin-right: auto;
	margin-left: auto;
	padding: 16px;
	max-width: 800px;
  font-family: 'Archer';
	color: #003266;
}

.historyText {
	font-size: 14pt;
	margin-top:20px;
	text-align: center;
  font-family: 'Archer';
	color: #003266;
}
.membershipText{
	margin-top:20px;
	text-align: center;
  font-family: 'Archer';
	color: #003266;
	text-align: center;
}
