@font-face {
  font-family: 'Archer';
  src: url(../assets/fonts/Archer-Bold-Pro.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Archer';
  src: url(../assets/fonts/Archer-BoldItal-Pro.woff) format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Archer';
  src: url(../assets/fonts/Archer-Light-Pro.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Archer';
  src: url(../assets/fonts/Archer-LightItal-Pro.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Archer';
  src: url(../assets/fonts/Archer-Medium-Pro.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Archer';
  src: url(../assets/fonts/Archer-SembdItal-Pro.woff) format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Archer';
  src: url(../assets/fonts/Archer-Semibold-Pro.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}
