.CaseCompetition {
  margin-bottom: 32px;

  h1, h2, p {
    font-weight: 500;
    margin: 12px;
    width: 100%;
  }

  h1 {
    color: #003266;
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
  }
}

@media screen and (max-width: 640px) {

  .CaseCompetition {
    margin-bottom: 24px;

    h1, h2, p {
      font-weight: 500;
      margin: 12px;
      width: 100%;
    }

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
    }
  }
}
