.footer {
  background: #003266;
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  .disclaimer { color: rgba(#fff, 0.2); text-align: center; width: 100vw; font-size: 10pt;}

  .media {
    font-size: 18px;
    line-height: normal;
    height: 50px;
    text-align: center;
    top: 25%;

    .fb__icon, {
      color: white;
      display: inline-block;

      &:hover {
        color: #FFB301;
      }
    }

    .mail__icon {
      color: white;
      display: inline-block;
      margin-left: 80px;

      &:hover {
        color: #FFB301;
      }
    }

    .ocf {
      > img {
        max-width: 112px;
        height: auto;
        padding-right: 32px;
      }
      position: absolute;
      right: 0;
    }


  }
}
