.TitleScreen {
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
	font-family: 'Archer';
	color: #003266;
}

.Title {
	position: absolute;
	top: 20%;
	font-weight: 800;
	font-size: 28px;
	transform: translate(-50%, -50%);
	left: 50%;
}

.Subtitle {
	position: absolute;
	top: 30%;
	font-weight: 400;
	font-size: 20px;
	transform: translate(-50%, -50%);
	left: 50%;
	width: 40%;
}

.Background {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	left: 0;
}

.OrgsScreen {
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
	font-family: 'Archer';
	color: #003266;
	background-color: #F2F0F3; 
}

.SlantOne {
	position: absolute;
	background-color: #EEEFF4;
	/*background-color: blue;*/
	width: 120vw;
	height: 255px;
	top: 40%;
	left: -20px;
	transform: rotate(-5deg);
	z-index: 2;
}

.SlantTwo {
	position: absolute;
	background-color: #C2CDD8;
	width: 950px;
	height: 260px;
	top: 75%;
	left: -20px;
	transform: rotate(-5deg);
	z-index: 4;
}

.SlantThree {
	position: absolute;
	background-color: #EEEFF4;
	/*background-color: blue;*/
	width: 800px;
	height: 240px;
	top: 52.5%;
	left: 606px;
	transform: rotate(18deg);
	z-index: 2;
}

.SlantFour {
	position: absolute;
	background-color: #D8DBE5;
	width: 950px;
	height: 260px;
	top: 66%;
	left: 700px;
	transform: rotate(-5deg);
	z-index: 3;
}

.SlantFive {
	position: absolute;
	width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
}

.OurHistory {
	position: absolute;
	width: 120px;
	height: 40px;
	border-radius: 20px;
	box-shadow: 1px 1px 10px #888888;
	background-color: white;
	z-index: 10; /* temp */
}

.ButtonTitle {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	width: 100%;
	font-weight: 500;
	color: #003266;
	z-index: 11;
}

.InfoScreen {
	width: 100%;
	position: relative;
	text-align: center;
	font-family: 'Archer';
	color: #003266;
	background-color: white; 
}