.OfficerPortrait {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
  margin: 0 auto;
  max-width: 80%;

  > img {
    width: 240px;
    max-height: 240px;
    overflow: hodden;
    object-fit: contain;
  }
}

.OfficerPortraitGroup {
  display: flex;
  flex-wrap: nowrap;
}


.OfficerInfo {
  padding: 4px 8px;
  h2 {
    font-size: 16pt;
    color: #003266;
  }

  h3 {
    font-size: 12pt;
    font-weight: 400;
    color: rgba(#003266, 0.7);
  }

  .OfficerBio {
    max-width: 800px;
    min-width: 240px;
    margin: 8px 0;
  }
}

@media screen and (max-width: 640px) {
  .OfficerPortrait {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .OfficerInfo { text-align: center; margin: 8px;}
}