.OrganizationPhotoGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
	position: absolute;
}

.PhotoWrapper {
	width: 70%;
	height: 50%;
}