.OrganizationPhotoGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
	position: absolute;
}

.PhotoWrapper {
	z-index: 12;
	width: 70%;
	height: 50%;
	left: 15%;
	top: 30%;
}

@media screen and (max-width: 600px) {
  .OrganizationPhotoGroup {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: none;
    width: auto;
  }

  .PhotoWrapper {
    width: auto;
    overflow-x: scroll;
    left: 0;
  }
}