.OrganizationPhoto {
    width: 220px;
    height: 150px;
    margin: 10px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px #888888;
}

.OrgImage {
	object-fit: contain;
	width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.OrgHover {
	font-family: 'Archer';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: #003266;
	color: white;
	opacity: 0;
	z-index: 13;
}

.OrgHover:hover {
	opacity: 1;
}

.HoverTitle {
	font-weight: 800;
	margin: 10px;
}

.HoverDescription {
	left: 5%;
	width: 90%;
	font-weight: 400;
	font-size: 14px;
}
